<div class="modal fade" id="mobileSearch" tabindex="-1" role="dialog" aria-label="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="tt-modal-advancedSearch">
                <div class="tt-modal-title">
                    <i class="pt-icon">
                        <svg>
                            <use xlink:href="#icon-advanced_search"></use>
                        </svg>
                    </i>
                    Advanced Seearch
                    <a class="pt-close-modal" href="#" data-dismiss="modal">
                        <svg class="icon">
                            <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </a>
                </div>
                <form class="form-default">
                    <div class="form-group">
                        <i class="pt-customInputIcon">
                            <svg class="tt-icon">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </i>
                        <input type="text" name="name" class="form-control pt-customInputSearch" id="searchForum"
                            placeholder="Search all forums">
                    </div>
                    
                    <div class="form-group">
                        <a href="#" class="btn btn-secondary btn-block">Search</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>